<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>字节加工厂·首页</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-chalk/index.css">
  <!-- 自建样式 -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <!-- aside -->
      <aside>
        <img src="./images/logo.png"></img>
        <p style="margin-bottom: 50px;">字节加工厂</p>
        <el-menu default-active="2" class="el-menu-vertical-demo">
          <!-- <p style="margin: 5px 0; font-size: 0.8em; color: #999;">记录类</p> -->
          <el-menu-item index="2">
            <i class="el-icon-s-finance" style="font-size: 1.2em;"></i>
            <span slot="title">记支出</span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="el-icon-s-marketing"></i>
            <span slot="title">记时间</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="el-icon-s-order"></i>
            <span slot="title">记草稿</span>
          </el-menu-item>
        </el-menu>
        <div class="lp-login">
          <el-button size="small">登陆账号</el-button>
        </div>
        <div class="lp-links">
          <span>访问官方</span> | <span>意见反馈</span>
        </div>
      </aside>
      <!-- main -->
      <div class="main">
          <div class="main-content">
            <div class="app-title">
              记支出 Pay
            </div>
            <div class="app-desc">
              记支出，记录你的每一笔消费，走出理财的第一步。
            </div>
            <div class="sum-desc">
              当月总消费：<b class="pay-main-color">￥3000</b>
              <span class="pay-main-color float-right"><i class="el-icon-circle-plus"></i> 添加一笔</span>
            </div>
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="首页" name="index">
                <div class="cost-list">
                  <div class="cost-list-item" v-for="cost in costs">
                    <div class="category-icon pay-main-color">
                      <i class="el-icon-food"></i>
                    </div>
                    <div class="item-content">
                      <div class="date">
                        2020-08-13
                      </div>
                      <div class="category">
                        食品
                      </div>
                    </div>
                    <div class="price">
                      ￥258
                    </div>
                  </div>
                </div>
              </el-tab-pane>
              <el-tab-pane label="统计" name="stat">
                
              </el-tab-pane>
              <el-tab-pane label="奖励" name="award">
                
              </el-tab-pane>
              <el-tab-pane label="设置" name="setting">
                
              </el-tab-pane>
              <el-tab-pane>
                
              </el-tab-pane>
            </el-tabs>
          </div>
          <div class="main-aside">
            <div class="form-title">
              记一笔
            </div>
            <el-form ref="form" :model="form" label-width="60px">
              <el-form-item label="金额">
                <el-input v-model="form.name"></el-input>
              </el-form-item>
              </el-form-item>
              <el-form-item label="日期">
                <el-date-picker type="date" placeholder="选择日期" v-model="form.date" style="width: 100%;"></el-date-picker>
              </el-form-item>
              <el-form-item label="类别">
                <el-radio-group v-model="form.resource">
                  <el-radio label="默认" border size="small"></el-radio>
                  <el-radio label="服饰" border size="small"></el-radio>
                  <el-radio label="食品" border size="small"></el-radio>
                  <el-radio label="住房" border size="small"></el-radio>
                  <el-radio label="出行" border size="small"></el-radio>
                  <el-radio label="投资" border size="small"></el-radio>
                  <el-radio label="旅游" border size="small"></el-radio>
                  <el-radio label="娱乐" border size="small"></el-radio>
                  <el-radio label="损失" border size="small"></el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="标签">
                <el-input v-model="form.newtag"></el-input>
                <el-checkbox-group v-model="form.tags">
                  <el-checkbox label="美食/餐厅线上活动" name="tag" border size="mini"></el-checkbox>
                  <el-checkbox label="地推活动" name="tag" border size="mini"></el-checkbox>
                  <el-checkbox label="线下主题活动" name="tag" border size="mini"></el-checkbox>
                  <el-checkbox label="单纯品牌曝光" name="tag" border size="mini"></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="备注">
                <el-input type="textarea" v-model="form.desc"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">立即保存</el-button>
                <el-button>取消</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="./node_modules/vue/dist/vue.js"></script>
<!-- import Vue router -->
<script src="./node_modules/vue-router/dist/vue-router.js"></script>
<!-- import JavaScript -->
<script src="./node_modules/element-ui/lib/index.js"></script>
<!-- script -->
<!-- <script src="./router/index.js"></script> -->
<script>
  new Vue({
    el: '#app',
    data: function () {
      return { 
        costs: [
          1,2,3,4,5,6,7,8,9,10,11,12,13,1,1,1,1,1,1,1,1,1
        ],
        activeName: 'index',
        visible: false,
        form: {
          name: '',
          date: '',
          newtag: '',
          tags: [],
          resource: '',
          desc: ''
        }
      }
    },
    method: {
      onSubmit() {
        console.log('submit!');
      }
    }
  })
</script>
</html>