<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>字节加工厂·首页</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-chalk/index.css">
  <!-- 引入 fontawesome -->
  <link href="./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
  <link href="./node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
  <link href="./node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">
  <!-- 自建样式 -->
  <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <!-- aside -->
      <aside>
        <img src="./images/logo.png"></img>
        <p style="margin-bottom: 50px;">字节加工厂</p>
        <el-menu default-active="2" class="el-menu-vertical-demo">
          <!-- <p style="margin: 5px 0; font-size: 0.8em; color: #999;">记录类</p> -->
          <el-menu-item index="2">
            <i class="fas fa-yen-sign"></i>
            <span slot="title"> 记支出</span>
          </el-menu-item>
          <el-menu-item index="3">
            <i class="fas fa-stopwatch"></i>
            <span slot="title"> 记时间</span>
          </el-menu-item>
          <el-menu-item index="4">
            <i class="fas fa-pen-nib"></i>
            <span slot="title"> 记草稿</span>
          </el-menu-item>
        </el-menu>
        <div class="lp-login">
          <el-button size="small">登陆账号</el-button>
        </div>
        <div class="lp-links">
          <span>访问官方</span> | <span>意见反馈</span>
        </div>
      </aside>
      <!-- main -->
      <div class="main">
          <div class="main-content">
            <div class="app-title">
              记支出 Pay
            </div>
            <div class="app-desc">
              记支出，记录你的每一笔消费，走出理财的第一步。
            </div>
            <div class="sum-desc">
              当月总消费：<b class="pay-main-color">￥3000</b>
              <span class="pay-main-color float-right"><i class="el-icon-circle-plus"></i> 添加一笔</span>
            </div>
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="首页" name="index">
                <div class="cost-list">
                  <div class="cost-list-item" v-for="cost in costs">
                    <div class="category-icon pay-main-color">
                      <i :class="cost.category_icon"></i>
                    </div>
                    <div class="item-content">
                      <div class="date">
                        {{ cost.date }}
                      </div>
                      <div class="category">
                        {{ cost.category }}
                      </div>
                    </div>
                    <div class="price">
                      ￥{{ cost.price }}
                    </div>
                  </div>
                </div>
              </el-tab-pane>
              <el-tab-pane label="统计" name="stat">
                统计报表功能还未完成，将尽快上线
              </el-tab-pane>
              <el-tab-pane label="奖励" name="award">
                奖励功能还未完成，将尽快上线
              </el-tab-pane>
              <el-tab-pane label="设置" name="setting">
                设置功能还未完成，将尽快上线
              </el-tab-pane>
              <el-tab-pane>
                
              </el-tab-pane>
            </el-tabs>
          </div>
          <div class="main-aside">
            <div class="form-title">
              记一笔
            </div>
            <el-form ref="form" :model="form" label-width="60px">
              <el-form-item label="金额">
                <el-input v-model="form.price" placeholder="输入消费金额"></el-input>
              </el-form-item>
              </el-form-item>
              <el-form-item label="日期">
                <el-date-picker type="date" placeholder="选择日期" v-model="form.date" style="width: 100%;" value-format="yyyy-MM-dd"></el-date-picker>
              </el-form-item>
              <el-form-item label="类别">
                <el-radio-group v-model="form.category">
                  <el-radio label="默认" border size="small"></el-radio>
                  <el-radio v-for="category in categories" :key="category" :label="category" border size="small"></el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="标签">
                <el-input v-model="inputTag" @change="addTag" placeholder="添加新的标签"></el-input>
                <el-checkbox-group v-model="form.tags">
                  <el-checkbox v-for="tag in tags" :key="tag" :label="tag" :name="tag" border size="mini"></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="备注">
                <el-input type="textarea" v-model="form.desc"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">立即保存</el-button>
                <el-button>取消</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="./node_modules/vue/dist/vue.js"></script>
<!-- import Vue router -->
<script src="./node_modules/vue-router/dist/vue-router.js"></script>
<!-- import JavaScript -->
<script src="./node_modules/element-ui/lib/index.js"></script>
<!-- script -->
<!-- <script src="./router/index.js"></script> -->
<script>
  new Vue({
    el: '#app',
    data: {
      categories: ['服饰','食品','住房','出行','医疗','价值投资','冲动消费','意外损失'],
      tags: ['早餐','午餐','外卖','小宝','数码','超市','京东','旅游','北戴河'],
      inputTag: '',
      costs: [
        {
          price: 34,
          category: '服饰',
          category_icon: 'fas fa-shopping-bag',
          date: '2020-09-11'
        },{
          price: 123,
          category: '食品',
          category_icon: 'fas fa-utensils',
          date: '2020-09-12'
        },{
          price: 34,
          category: '出行',
          category_icon: 'fas fa-plane-departure',
          date: '2020-09-11'
        },{
          price: 34,
          category: '住房',
          category_icon: 'fas fa-house-user',
          date: '2020-09-11'
        },{
          price: 45,
          category: '医疗',
          category_icon: 'fas fa-briefcase-medical',
          date: '2020-09-11'
        },{
          price: 45,
          category: '价值投资',
          category_icon: 'fas fa-book-reader',
          date: '2020-09-11'
        },{
          price: 34,
          category: '冲动消费',
          category_icon: 'fas fa-grin-stars',
          date: '2020-09-11'
        },{
          price: 34,
          category: '意外损失',
          category_icon: 'fas fa-heart-broken',
          date: '2020-09-11'
        }
      ],
      activeName: 'index',
      visible: false,
      form: {
        price: '',
        date: '',
        tags: [],
        category: '默认',
        category_icon: '',
        desc: ''
      }
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      },
      addTag(tag){
        this.inputTag = tag;
        this.tags.push(tag);
        this.form.tags.push(tag);
        // 数据库添加标签
        // 
      },
      onSubmit() {
        let {price, date, tags, category, desc} = this.form;
        if(price && date && category){
          this.costs.unshift({
            price,
            category,
            date
          })
        }else{
          console.log('数据不完整');
        }
      }
    }
  })
</script>
</html>