.color-main{
  color: #333;
}

.color-sub{
  color: #999;
}

.color-em{
  color: #409EFF;
}


.float-right{
  float: right;
}

.float-left{
  float: left;
}

.margin-left-0{
  margin-left: 0;
}

.margin-top-0{
  margin-left: 0;
}

.margin-bottom-0{
  margin-left: 0;
}

.margin-right-0{
  margin-left: 0;
}